*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Container */
.container {
    width: 100%;
    height: 100vh;
    background:linear-gradient(to right, rgba(156, 150, 150, 0.343), rgba(0, 0, 0, 0.475)) 
    ,url(img/green-gd5314c8be_1280.jpg); 
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* PERFIL */
.perfil{
    width: 40%;
    background-color: #ff705f;
    text-align: center;
    padding: 40px 90px;
    color: #913f33;
    position: relative;
    border-radius: 20px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.566);
    
}
.perfil h3{
    font-family: 'Cookie', cursive;
    font-size: 55px;
    margin-top: 20px;
    font-weight: 500px;
    
}
.foto-perfil{
    width: 150px;
    border-radius: 50%;
    background-color: #ffaa67;
    padding: 5px;
    margin-top: 40px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.566);
}

.social-media{
    margin-top: 15px;
    margin-bottom: 10px;
}
.redes{
    font-size: 20px;
    margin: 30px 5px;
    cursor: pointer;
    color: #ffdfab;
}
.redes:hover{
    color:#ffaa67
}

/* About */
.about{
    background-color: #ffdfab;
    color: #913f33;
    font-family: 'Inconsolata', monospace;
    padding: 60px 0;
    margin-right: -90px;
    margin-left: -90px;
    margin-bottom: -40px;
    border-radius: 20px;
    margin-top: -10px;
}

.button{
    background: #ffdfab;
    color: #913f33;
    font-family: 'Inconsolata', monospace;
    border: none;
    outline: none;
    box-shadow: 0 5px 10px #ffaa67;
    padding: 15px 60px;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: -50px;
    font-weight: 600;
    font-size: 14px;
}

.button:hover{
    transform: translateY(-2px);
}